# Data Science & Algorithm

# Assignment-1

In [ ]:
import array
from array import *

In [ ]:
##Q1 array operation:
import array
from array import *

In [ ]:
#Q:(a)
number=array('i',[1,2,3,4,5,6,7,8,9,10])
print(number)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
#Q:(b)
number=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in range(0,len(number)):
    sum=sum+number[i]
print('sum of all no. in array',sum)

sum of all no. in array 55

In [ ]:
#Q:(C)
number=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in range(0,len(number)):
    sum=sum+number[i]
    average=sum/len(number)
print('average of all no. in array',average)

average of all no. in array 5.5

In [ ]:
print("maximum number in array:",max(number))
print("minimum number in array:",min(number))

maximum number in array: 10
minimum number in array: 1

# Q2 array manipulation

In [ ]:
#Q:(a)
name=['sharim','pranav','tanzeem','osama','danish','junaid','zayn','ali']
print(name)

['sharim', 'pranav', 'tanzeem', 'osama', 'danish', 'junaid', 'zayn', 'ali']

In [ ]:
#Q:(b)
name.append('raza')
print(name)
name.append('saqib')
print(name)

['sharim', 'pranav', 'tanzeem', 'osama', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza']
['sharim', 'pranav', 'tanzeem', 'osama', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza', 'saqib']

In [ ]:
print(name)

['sharim', 'pranav', 'tanzeem', 'osama', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza', 'saqib']

In [ ]:
#Q:(c)
name[3]='mahid'
print(name)

['sharim', 'pranav', 'tanzeem', 'mahid', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza', 'saqib']

In [ ]:
#Q:(d)
name.remove('saqib')
print(name)

['sharim', 'pranav', 'tanzeem', 'mahid', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza']

In [ ]:
#Q:(e)
print("display the final array of names:",name)

display the final array of names: ['sharim', 'pranav', 'tanzeem', 'mahid', 'danish', 'junaid', 'zayn', 'ali', 'raza', 'raza']

# Q3 searching in arrays

In [ ]:
#Q:(a)
arr=array('i',[45,21,25,85,65,47,23,20,10,25,34,95,35,45,65,])
print(arr)

array('i', [45, 21, 25, 85, 65, 47, 23, 20, 10, 25, 34, 95, 35, 45, 65])

In [ ]:
print(len(arr))

15

In [ ]:
#Q:(b)
n=int(input('enter the number to check the value in array:'))
print(n in arr)

enter the number to check the value in array:45
True

In [ ]:
#Q:(c)

n=int(input("enter the number"))
if n in arr:
    print('present number')
else:
    print('not present')

enter the number5
not present

# Q4array sorting

In [ ]:
#Q:(a)
a=array('i',[12,32,25,45,75,63,25,58,52,69,67,87])
print(a)

array('i', [12, 32, 25, 45, 75, 63, 25, 58, 52, 69, 67, 87])

In [ ]:
#Q:(b)
a.reverse()
print(a)

array('i', [87, 67, 69, 52, 58, 25, 63, 75, 45, 25, 32, 12])

In [ ]:
#Q:(c)
def divide(arr):
    l=len(arr)//2
    part1=arr[:l]
    part2=arr[l:]
    print('part1',part1)
    print('part2',part2)

arr=array('i',[12,32,25,45,75,63,25,58,52,69,67,87])
divide(arr)

part1 array('i', [12, 32, 25, 45, 75, 63])
part2 array('i', [25, 58, 52, 69, 67, 87])